:root {
	--height: 100px;
	--width: 8px;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
}

.contain {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.timerDigit {
	margin-top: 20px;
	color: #0c1b1d60;
}

/**
* Timer Hand
*/
.timerHand {
	width: var(--width);
	height: var(--height);
	border-radius: calc(var(--width) / 2);
	background-color: #00b7c1;
	position: absolute;
	transform-origin: calc(var(--width) / 2) calc(var(--height) - (var(--width) / 2));
	top: 30px;
	transform: rotate(0deg);
	box-shadow: 0 0 10px #0b828f83;

	/* cursor: grab; */
}

.pointerShort {
	width: 2px;
	height: 5px;
	border-radius: 50px;
	background-color: #42424240;
	position: absolute;
	transform-origin: 0% 0%;
}

.pointerLong {
	width: 3px;
	height: 18px;
	border-radius: 1.5px;
	background-color: #0c1b1d90;
	position: absolute;
	transform-origin: 0% 0%;
}

.timerContainer {
	flex-grow: 1;
	align-self: stretch;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	position: relative;
}

.timerFace {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	position: relative;
}

/* 
.timerInnerCircle {
	height: 150px;
	width: 150px;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #cee7ea;
	transform: skewX(22.5deg);
} */

.timerInnerCircle {
	width: 150px;
	height: 150px;
	display: block;
	position: relative;
	z-index: -10;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #cee7ea;
	border-radius: 50%;
}

.timerInnerCircle #loader {
	fill: #7ac9d1;
}

.timerInnerCenterBack {
	width: 30px;
	height: 30px;
	background-color: #def1f3;
	box-shadow: 0 4px 8px #0b828f83;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.timerInnerCenterFront {
	width: 20px;
	height: 20px;
	background-color: white;
	box-shadow: 0 2px 8px #0b828f83;
	z-index: 1;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* fill: #cee7ea; */
